node-red-flow/flow.json
[
    {
        "id": "8bf180c3a7bb82b5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c7d5202bf79895b",
        "type": "ui_button",
        "z": "8bf180c3a7bb82b5",
        "name": "",
        "group": "a38e2d679e908986",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Be",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "4cdef27415935e2e",
                "aaecad7718e8fab1"
            ]
        ]
    },
    {
        "id": "f0502621eebfd3a5",
        "type": "ui_button",
        "z": "8bf180c3a7bb82b5",
        "name": "",
        "group": "a38e2d679e908986",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Ki",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "4cdef27415935e2e",
                "aaecad7718e8fab1"
            ]
        ]
    },
    {
        "id": "ac41819a232d19bb",
        "type": "ui_text",
        "z": "8bf180c3a7bb82b5",
        "group": "a38e2d679e908986",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Relé állapota :",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "4cdef27415935e2e",
        "type": "function",
        "z": "8bf180c3a7bb82b5",
        "name": "állapotkiírás",
        "func": "\nif (msg.payload === \"1\")\n{\n    msg.payload = \"Be van kapcsolva\";\n} else if (msg.payload === \"0\")\n{\n    msg.payload = \"Ki van kapcsolva\";\n}else{\n    msg.payload = \"Hibás állapot\" ;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "ac41819a232d19bb"
            ]
        ]
    },
    {
        "id": "16445350a1c526c1",
        "type": "ui_text_input",
        "z": "8bf180c3a7bb82b5",
        "name": "",
        "label": "Időzítés",
        "tooltip": "",
        "group": "a38e2d679e908986",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": ".kozepre input {     text-align: center; }",
        "topicType": "msg",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "edc9112792bf9567"
            ]
        ]
    },
    {
        "id": "af56ba44a8345ff5",
        "type": "delay",
        "z": "8bf180c3a7bb82b5",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 480,
        "wires": [
            [
                "cd129bf4136593a5"
            ]
        ]
    },
    {
        "id": "edc9112792bf9567",
        "type": "function",
        "z": "8bf180c3a7bb82b5",
        "name": "idő eltárolása",
        "func": "flow.set(\"idozites\",msg.payload) ;\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "01a8656e5028a76e",
        "type": "ui_button",
        "z": "8bf180c3a7bb82b5",
        "name": "",
        "group": "a38e2d679e908986",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Időzítés",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "317136978fca1628"
            ]
        ]
    },
    {
        "id": "8c1e6e9b02fdf78c",
        "type": "function",
        "z": "8bf180c3a7bb82b5",
        "name": "időzítés indítás",
        "func": "let ido = flow.get(\"idozites\");\nlet mp = ido * msg.payload;\nflow.set(\"hatralevo\", mp);\nflow.set(\"manualOverride\", false);\n\n// Első kimenet: azonnali BE\nlet msgBe = { payload: \"1\" };\n\n// Második kimenet: késleltetett KI\nlet msgKi = { payload: \"0\", delay: mp * 1000 };\n\nreturn [msgBe, msgKi];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "8d86afdcefd3e3c8"
            ],
            [
                "af56ba44a8345ff5"
            ]
        ]
    },
    {
        "id": "3396e4db44fe684d",
        "type": "inject",
        "z": "8bf180c3a7bb82b5",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "d282f69a024ecd39"
            ]
        ]
    },
    {
        "id": "d282f69a024ecd39",
        "type": "function",
        "z": "8bf180c3a7bb82b5",
        "name": "Visszaszámlálás",
        "func": "\n// lekérjük a hátralévő időt\nlet hatralevo = flow.get(\"hatralevo\") || 0;\n\n// segédfüggvény formázáshoz\nfunction formatTime(sec) {\n    let hours = Math.floor(sec / 3600);\n    let minutes = Math.floor((sec % 3600) / 60);\n    let seconds = sec % 60;\n    return (\n        String(hours).padStart(2, '0') + \":\" +\n        String(minutes).padStart(2, '0') + \":\" +\n        String(seconds).padStart(2, '0')\n    );\n}\n\nif (hatralevo <= 0) {\n    msg.payload = \"Nincs időzítés!\";\n    flow.set(\"hatralevo\", 0);\n    return [msg, null];\n} else {\n    hatralevo -= 1;\n    flow.set(\"hatralevo\", hatralevo);\n    msg.payload = `${formatTime(hatralevo)}`;\n    return [msg, msg];\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 580,
        "wires": [
            [
                "72b89642715a2ec6"
            ]
        ]
    },
    {
        "id": "72b89642715a2ec6",
        "type": "ui_text",
        "z": "8bf180c3a7bb82b5",
        "group": "a38e2d679e908986",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Hátralévő idő :",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "cd129bf4136593a5",
        "type": "function",
        "z": "8bf180c3a7bb82b5",
        "name": "Időzített kapcsolás",
        "func": "// Ellenőrizzük, hogy manuális gombnyomás volt-e\nif (flow.get(\"manualOverride\")) {\n    // Reseteljük a flaget\n    flow.set(\"manualOverride\", false);\n    return null; // ne kapcsoljon ki, ha manuálisan már közben kapcsolták\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 460,
        "wires": [
            [
                "4cdef27415935e2e",
                "8d86afdcefd3e3c8"
            ]
        ]
    },
    {
        "id": "aaecad7718e8fab1",
        "type": "function",
        "z": "8bf180c3a7bb82b5",
        "name": "felülírás",
        "func": "// Állítsuk le az időzítőt\nflow.set(\"hatralevo\", 0);\n\n// Ha korábban delay node már elindult, akkor ez az új flag segít figyelmen kívül hagyni\nflow.set(\"manualOverride\", true);\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 80,
        "wires": [
            [
                "8d86afdcefd3e3c8"
            ]
        ]
    },
    {
        "id": "8d86afdcefd3e3c8",
        "type": "tcp request",
        "z": "8bf180c3a7bb82b5",
        "name": "",
        "server": "192.168.0.168",
        "port": "8888",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 630,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "317136978fca1628",
        "type": "ui_dropdown",
        "z": "8bf180c3a7bb82b5",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "a38e2d679e908986",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Óra",
                "value": 3600,
                "type": "num"
            },
            {
                "label": "Perc",
                "value": 60,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 240,
        "y": 460,
        "wires": [
            [
                "8c1e6e9b02fdf78c"
            ]
        ]
    },
    {
        "id": "b22dfbde0d7a21c0",
        "type": "ui_spacer",
        "z": "8bf180c3a7bb82b5",
        "name": "spacer",
        "group": "a38e2d679e908986",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "67a5f1a7e469fea5",
        "type": "ui_spacer",
        "z": "8bf180c3a7bb82b5",
        "name": "spacer",
        "group": "a38e2d679e908986",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "97a695d986ce8fa1",
        "type": "ui_spacer",
        "z": "8bf180c3a7bb82b5",
        "name": "spacer",
        "group": "a38e2d679e908986",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "a38e2d679e908986",
        "type": "ui_group",
        "name": "Default",
        "tab": "24167cb5a352bc65",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "24167cb5a352bc65",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]